//.navbar-fixed-top
div.navbar.navbar-default#mainMenu
    div.navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#mainMenu-colapse")#toggle-menu
            //span="Меню"
            span.icon-bar
            span.icon-bar
            span.icon-bar
            p.menu-mobile МЕНЮ
    div.container-fluid
        div.navbar-collapse.collapse#mainMenu-colapse
            ul.nav.navbar-nav
                li
                    a(href="/#/")="Главная"
                each itemName in menuRootOrder
                    - var item = menu[itemName]
                    if item.children
                        li.dropdown
                            a.dropdown-toggle.disabled(data-toggle="dropdown", href=item.url)= item.name
                                span.caret
                            ul.dropdown-menu
                                each child in item.children
                                    if child.page || child.postNumber
                                        li
                                            a(href=child.url)= child.name
                    else
                        if item.page || item.postNumber
                            li
                                a(href=item.url)= item.name
