.navbar.navbar-default.navbar-fixed-bottom#subscribe-bar(style='display:hidden')
    div.container-fluid
        div
            ul.nav.navbar-nav
                li
                    //.form-inline
                    form.navbar-form
                        div.form-group
                            label(for="email-input") Подпишись на обновления:
                            input.form-control(type="email", id="email-input", placeholder="Email")
                            button.btn.btn-default(type="submit") Подпишусь
                li
                    p.navbar-text или
                include ./social-networks-bar.html
                li
                    a(href='', id="close-subscribe-bar")
                        span.fa.fa-close