##################
# Caching schema
##################
<FilesMatch "\.(jpg|css|js|png|gif)$">
Header set Cache-Control "public, max-age=3600"
</FilesMatch>

##################
# Custom 404 errors
##################
ErrorDocument 404 /404.html

##################
# Block bad bots
##################
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR]
RewriteCond %{HTTP_USER_AGENT} ^Bot\ mailto:craftbot@yahoo.com [OR]
RewriteCond %{HTTP_USER_AGENT} ^ChinaClaw [OR]
RewriteCond %{HTTP_USER_AGENT} ^Custo [OR]
RewriteCond %{HTTP_USER_AGENT} ^DISCo [OR]
RewriteCond %{HTTP_USER_AGENT} ^Download\ Demon [OR]
RewriteCond %{HTTP_USER_AGENT} ^eCatch [OR]
RewriteCond %{HTTP_USER_AGENT} ^EirGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailSiphon [OR]
RewriteCond %{HTTP_USER_AGENT} ^EmailWolf [OR]
RewriteCond %{HTTP_USER_AGENT} ^Express\ WebPictures [OR]
RewriteCond %{HTTP_USER_AGENT} ^ExtractorPro [OR]
RewriteCond %{HTTP_USER_AGENT} ^EyeNetIE [OR]
RewriteCond %{HTTP_USER_AGENT} ^FlashGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetRight [OR]
RewriteCond %{HTTP_USER_AGENT} ^GetWeb! [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go!Zilla [OR]
RewriteCond %{HTTP_USER_AGENT} ^Go-Ahead-Got-It [OR]
RewriteCond %{HTTP_USER_AGENT} ^GrabNet [OR]
RewriteCond %{HTTP_USER_AGENT} ^Grafula [OR]
RewriteCond %{HTTP_USER_AGENT} ^HMView [OR]
RewriteCond %{HTTP_USER_AGENT} HTTrack [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Stripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^Image\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} Indy\ Library [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^InterGET [OR]
RewriteCond %{HTTP_USER_AGENT} ^Internet\ Ninja [OR]
RewriteCond %{HTTP_USER_AGENT} ^JetCar [OR]
RewriteCond %{HTTP_USER_AGENT} ^JOC\ Web\ Spider [OR]
RewriteCond %{HTTP_USER_AGENT} ^larbin [OR]
RewriteCond %{HTTP_USER_AGENT} ^LeechFTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mass\ Downloader [OR]
RewriteCond %{HTTP_USER_AGENT} ^MIDown\ tool [OR]
RewriteCond %{HTTP_USER_AGENT} ^Mister\ PiX [OR]
RewriteCond %{HTTP_USER_AGENT} ^Navroad [OR]
RewriteCond %{HTTP_USER_AGENT} ^NearSite [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetAnts [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Net\ Vampire [OR]
RewriteCond %{HTTP_USER_AGENT} ^NetZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Octopus [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Explorer [OR]
RewriteCond %{HTTP_USER_AGENT} ^Offline\ Navigator [OR]
RewriteCond %{HTTP_USER_AGENT} ^PageGrabber [OR]
RewriteCond %{HTTP_USER_AGENT} ^Papa\ Foto [OR]
RewriteCond %{HTTP_USER_AGENT} ^pavuk [OR]
RewriteCond %{HTTP_USER_AGENT} ^pcBrowser [OR]
RewriteCond %{HTTP_USER_AGENT} ^RealDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^ReGet [OR]
RewriteCond %{HTTP_USER_AGENT} ^SiteSnagger [OR]
RewriteCond %{HTTP_USER_AGENT} ^SmartDownload [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperBot [OR]
RewriteCond %{HTTP_USER_AGENT} ^SuperHTTP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Surfbot [OR]
RewriteCond %{HTTP_USER_AGENT} ^tAkeOut [OR]
RewriteCond %{HTTP_USER_AGENT} ^Teleport\ Pro [OR]
RewriteCond %{HTTP_USER_AGENT} ^VoidEYE [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Image\ Collector [OR]
RewriteCond %{HTTP_USER_AGENT} ^Web\ Sucker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebAuto [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebCopier [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebFetch [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebGo\ IS [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebLeacher [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebReaper [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebSauger [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ eXtractor [OR]
RewriteCond %{HTTP_USER_AGENT} ^Website\ Quester [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebStripper [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebWhacker [OR]
RewriteCond %{HTTP_USER_AGENT} ^WebZIP [OR]
RewriteCond %{HTTP_USER_AGENT} ^Wget [OR]
RewriteCond %{HTTP_USER_AGENT} ^Widow [OR]
RewriteCond %{HTTP_USER_AGENT} ^WWWOFFLE [OR]
RewriteCond %{HTTP_USER_AGENT} ^Xaldon\ WebSpider [OR]
RewriteCond %{HTTP_USER_AGENT} ^Zeus
RewriteRule ^.* - [F,L]

##################
# GZIP
##################
# 480 weeks
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

# 2 DAYS
<FilesMatch "\.(xml|txt)$">
Header set Cache-Control "max-age=172800, public, must-revalidate"
</FilesMatch>

# 2 HOURS
<FilesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=7200, must-revalidate"
</FilesMatch>

<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
  mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
  mod_gzip_item_include handler ^cgi-script$
  mod_gzip_item_include mime ^text/.*
  mod_gzip_item_include mime ^application/x-javascript.*
  mod_gzip_item_exclude mime ^image/.*
  mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

##################
# Redirect www to non-www
##################
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
# Redirect /?p=*
RewriteCond %{QUERY_STRING} ^p=([0-9]*) [NC]
RewriteRule ^(.*)$ https://marinatravelblog.com [R=301,L,QSD]

# Redirect RSS Feed
RedirectMatch 301 /feed$ /feed.xml
RedirectMatch 301 /feed/$ /feed.xml

# Redirect samshit
RedirectMatch 301 /main$ /
Redirect 301 /index.htm /
Redirect 301 /main /
RedirectMatch 301 ^index.php$ /
Redirect 301 /feed.xml/ /feed.xml
Redirect 301 /author/admin/ /
Redirect 301 /author/gderevo/ /
Redirect 301 /author/rowena/ /
Redirect 301 /author/rowens890/ /
Redirect 301 /obo-mne/comment-page-1/ /o-nas/
Redirect 301 /wp-admin* /

Redirect 301 /feed.xml/ /feed.xml
Redirect 301 /author/admin/ /
Redirect 301 /author/gderevo/ /
Redirect 301 /author/rowena/ /
Redirect 301 /author/rowens890/ /
Redirect 301 /obo-mne/comment-page-1/ /o-nas/
Redirect 301 /wp-admin* /

#################
# Redirect old posts
#################

Redirect 301 /portugaliya-lissabon-2/ /portugaliya-lissabon-1/
Redirect 301 /portugaliya-belem-i-drugie-rajony-lissabona/ /portugaliya-lissabon-1/
Redirect 301 /32-pravila-bezopasnosti-v-puteshestvii/ /35-pravil-bezopasnosti-v-puteshestvii/
Redirect 301 /32-pravila-bezopasnosti-v-puteshestvii /35-pravil-bezopasnosti-v-puteshestvii/
Redirect 301 /novosti-gavaji/ /gavaji-ostrov-kauai/
Redirect 301 /poluchenie-zagranpasporta-v-kieve-samostoyatelno-ovir-na-gercena-9/ /biometricheskij-zagranpasport-v-kieve-ukraina/
Redirect 301 /kanal-na-youtube/ https://www.youtube.com/c/marinatravelblog
Redirect 301 /myanma-foto-baganskix-lyudej-zverej-i-suvenirov/ /myanma-drevnije-xramy-bagana-old-bagan/
Redirect 301 /myanma-freski-iz-xramov-bagana-fotopost/ /myanma-drevnije-xramy-bagana-old-bagan/
Redirect 301 /myanma-interjery-xramov-bagana/ /myanma-drevnije-xramy-bagana-old-bagan/
Redirect 301 /myanma-otdelnye-xramy-bagana-fotopost/ /myanma-drevnije-xramy-bagana-old-bagan/
Redirect 301 /myanma-vsyakie-detalki-iz-baganskix-xramov-fotopost/ /myanma-drevnije-xramy-bagana-old-bagan/
Redirect 301 /myanma-zakaty-i-rassvety-nad-baganom-fotopost/ /myanma-drevnije-xramy-bagana-old-bagan/
Redirect 301 /mylford-saund/ /novaja-zelandija-milford-saund/
Redirect 301 /dajving-v-tailande-boonsung-rek-dajv/ /dajving-na-zapadnom-poberezhe-tailanda-pi-pi-ko-lanta-similany/
Redirect 301 /dajving-v-tailande-rishele-rok-xin-luang-last-ridge/ /dajving-na-zapadnom-poberezhe-tailanda-pi-pi-ko-lanta-similany/
Redirect 301 /tailand-dajving-similanskie-ostrova-elephants-head-ko-bon-ko-tachaj/ /dajving-na-zapadnom-poberezhe-tailanda-pi-pi-ko-lanta-similany/
Redirect 301 /dajving-v-tailande-ko-lanta-ko-xaa-xin-daeng-xin-muang/ /dajving-na-zapadnom-poberezhe-tailanda-pi-pi-ko-lanta-similany/
Redirect 301 /spasi-zhizn-blizkih/ /
Redirect 301 /perevozka-sportivnogo-snaryazheniya-mau/ /
Redirect 301 /kak-pravilno-tailand-ili-tajland/ /tailand-finalnyj-post-i-zarisovki/
Redirect 301 /ob-indijskih-shkolah/ /
Redirect 301 /o-datchanax-i-detyax/ /
Redirect 301 /pravila-provoza-elektroniki-na-aviarejsax-v-ssha-i-kanadu/ /
Redirect 301 /otnoshenie-ispancev-k-komplimentam/ /
Redirect 301 /esli-vy-poteryali-chto-to-v-samolete/ /
Redirect 301 /priority-seat-tailand/ /tailand-finalnyj-post-i-zarisovki/
Redirect 301 /tiger-air-ne-otvechaet-za-povrezhdeniya-bagazha/ /
Redirect 301 /tajskie-poezda/ /tailand-finalnyj-post-i-zarisovki/
Redirect 301 /malajziya-parasejling-na-langkavi/ /malajziya-ostrov-langkavi/
Redirect 301 /malajziya-park-ptic-v-kuala-lumpure/ /malajziya-kuala-lumpur-nashi-vpechatleniya/
Redirect 301 /tailand-rozhdestvenskij-urok-anglijskogo/ /category/asia/thailand/
Redirect 301 /category/okeanyia/novaia-zelandyia/ /category/other/novaia-zelandyia/
Redirect 301 /tailand-chiang-maj-2/ /tailand-chiang-mai-1/
Redirect 301 /malajziya-krokodily-na-borneo/ /malajziya-borneo-sarawak-kuching/
Redirect 301 /myanma-poezdka-vokrug-ozera-inle-na-velosipedax-inle-lake/ /myanma-ozero-inle-na-lodke-inle-lake/
Redirect 301 /franciya-elzas-belfor-ribovil-rikevir-egisxajm-turkxajm/ /franciya-elzas/
Redirect 301 /franciya-elzas-kolmar-shato-kenigsburg-selestat-oberne-strasburg/ /franciya-elzas/
Redirect 301 /faq-chavo/ /

#################
# Redirect affiliates
#################

Redirect 301 /m/12goasia/ https://c44.travelpayouts.com/click?shmarker=89308&promo_id=1256&source_type=link&type=click
Redirect 301 /m/airbnb-coupon/ https://www.airbnb.com/c/msukhomlynova?s=8
Redirect 301 /m/alamo/ https://ad.admitad.com/g/ect9jcqrby5fe19fcf9146fc09ba31/
Redirect 301 /m/ali/ https://alitems.com/g/1e8d1144945fe19fcf9116525dc3e8/
Redirect 301 /m/alpindustria/ https://ad.admitad.com/g/f9d6c31d2e5fe19fcf91e6c3bbdfd6/
Redirect 301 /m/autoeurope/ https://c52.travelpayouts.com/click?shmarker=89308&promo_id=1591&source_type=customlink&type=click&custom_url=http://www.autoeurope.ru
Redirect 301 /m/aviasales/ https://www.aviasales.ru/?marker=89308
Redirect 301 /m/avtobustravel/ https://c76.travelpayouts.com/click?shmarker=89308&promo_id=1758&source_type=link&type=click
Redirect 301 /m/bikesbooking/ https://c57.travelpayouts.com/click?shmarker=89308&promo_id=1669&source_type=link&type=click
Redirect 301 /m/blablacar/ https://c75.travelpayouts.com/click?shmarker=89308&promo_id=1670&source_type=link&type=click
Redirect 301 /m/booking/ https://www.booking.com/index.html?aid=806819
Redirect 301 /m/booking10/ https://www.booking.com/s/11_6/m0rowe32
Redirect 301 /m/busfor/ https://c48.travelpayouts.com/click?shmarker=89308&promo_id=1234&source_type=customlink&type=click&custom_url=https://busfor.ru/
Redirect 301 /m/compensair/ https://c86.travelpayouts.com/click?shmarker=89308&promo_id=2103&source_type=link&type=click
Redirect 301 /m/economybooking/ https://c10.travelpayouts.com/click?shmarker=89308&promo_id=2018&source_type=customlink&type=click&custom_url=https://www.economybookings.com/
Redirect 301 /m/escapewithpro/ https://escapewithpro.com/ru?i=KT9BZ9&utm_source=marinatravelblogcom&utm_medium=pr&utm_campaign=article_092418&utm_content=post
Redirect 301 /m/flixbus-ru/ https://c97.travelpayouts.com/click?shmarker=89308&promo_id=2415&source_type=link&type=click
Redirect 301 /m/flixbus-ua/ https://c98.travelpayouts.com/click?shmarker=89308&promo_id=2416&source_type=link&type=click
Redirect 301 /m/goeuro/ https://c91.travelpayouts.com/click?shmarker=89308&promo_id=2051&source_type=link&type=click
Redirect 301 /m/hopayacht/ https://c92.travelpayouts.com/click?shmarker=89308&promo_id=2463&source_type=customlink&type=click&custom_url=https://hopayacht.com/
Redirect 301 /m/hotellook/ https://hotellook.ru/?marker=89308
Redirect 301 /m/intuitravel/ https://c22.travelpayouts.com/click?shmarker=89308&promo_id=201&source_type=link&type=click
Redirect 301 /m/kiwicom/ https://www.kiwi.com/deep?affilid=marina
Redirect 301 /m/kiwi-ru/ https://ad.admitad.com/g/v05avdbj2e5fe19fcf91e5d6040c39/?ulp=https://www.kiwi.com/ru/&subid=kiwi.com/ru
Redirect 301 /m/kiwitaxi/ https://c1.travelpayouts.com/click?shmarker=89308&promo_id=530&source_type=link&type=click
Redirect 301 /m/mau/ https://ad.admitad.com/g/go0ffstsxl5fe19fcf9161bba2e5b0/
Redirect 301 /m/mistotravel/ https://c54.travelpayouts.com/click?shmarker=89308&promo_id=1512&source_type=customlink&type=click&custom_url=http://misto.travel
Redirect 301 /m/musement/ https://c83.travelpayouts.com/click?shmarker=89308&promo_id=1927&source_type=link&type=click
Redirect 301 /m/myrentacar/ https://c7.travelpayouts.com/click?shmarker=89308&promo_id=646&source_type=customlink&type=click&custom_url=https://rentacarfor.me/
Redirect 301 /m/omio/ https://c91.travelpayouts.com/click?shmarker=89308&promo_id=2051&source_type=link&type=click
Redirect 301 /m/onlinetours/ https://c43.travelpayouts.com/click?shmarker=89308&promo_id=1094&source_type=customlink&type=click&custom_url=http://www.onlinetours.ru/
Redirect 301 /m/raileurope/ https://c69.travelpayouts.com/click?shmarker=89308&promo_id=1935&source_type=customlink&type=click&custom_url=https://www.raileurope.com
Redirect 301 /m/sutochno/ https://c99.travelpayouts.com/click?shmarker=89308&promo_id=2690&source_type=customlink&type=click&custom_url=https://sutochno.ru/
Redirect 301 /m/ticketsnetwork/ https://c72.travelpayouts.com/click?shmarker=89308&promo_id=1947&source_type=link&type=click
Redirect 301 /m/ticketsua/ https://ad.admitad.com/g/yk224wdch25fe19fcf916acf6f3f63/
Redirect 301 /m/tiqets/ https://c89.travelpayouts.com/click?shmarker=89308&promo_id=2073&source_type=link&type=click
Redirect 301 /m/tourexme/ https://c56.travelpayouts.com/click?shmarker=89308&promo_id=1623&source_type=link&type=click
Redirect 301 /m/travelata/ https://c18.travelpayouts.com/click?shmarker=89308&promo_id=771&source_type=customlink&type=click&custom_url=https://travelata.ru/
Redirect 301 /m/travelpayouts/ https://www.travelpayouts.com/?marker=89308&locale=ru
Redirect 301 /m/tripster/ https://c11.travelpayouts.com/click?shmarker=89308&promo_id=652&source_type=customlink&type=click&custom_url=https://experience.tripster.ru
Redirect 301 /m/viator/ https://c47.travelpayouts.com/click?shmarker=89308&promo_id=1944&source_type=link&type=click
Redirect 301 /m/worldnomads/ https://www.worldnomads.com/Turnstile/AffiliateLink?partnerCode=M4RYNA&utm_source=M4RYNA&source=weblink&utm_content=weblink&path=https://worldnomads.com
Redirect 301 /worldnomads/ https://www.worldnomads.com/Turnstile/AffiliateLink?partnerCode=M4RYNA&utm_source=M4RYNA&source=weblink&utm_content=weblink&path=https://worldnomads.com
Redirect 301 /m/weatlas/ https://c14.travelpayouts.com/click?shmarker=89308&promo_id=199&source_type=link&type=click
Redirect 301 /m/sputnik8/ https://c21.travelpayouts.com/click?shmarker=89308&promo_id=173&source_type=link&type=click
Redirect 301 /m/gocitycard/ https://c62.travelpayouts.com/click?shmarker=89308&promo_id=1942&source_type=customlink&type=click&custom_url=https%3A%2F%2Fwww.smartdestinations.com
Redirect 301 /m/directferries/ https://www.directferries.com/?dfpid=2542&affid=1&rurl=
Redirect 301 /m/dreamlines/ https://c81.travelpayouts.com/click?shmarker=89308&promo_id=1918&source_type=link&type=click
Redirect 301 /m/nz-exc/ https://c14.travelpayouts.com/click?shmarker=89308&promo_id=654&source_type=customlink&type=click&custom_url=https%3A%2F%2Fweatlas.com%2Fplace%2Fnew_zealand%2Fauckland%3Faid%3D10690
Redirect 301 /m/nz-ferry/ https://c44.travelpayouts.com/click?shmarker=89308&promo_id=1764&source_type=customlink&type=click&custom_url=https%3A%2F%2F12go.asia%2Fru%2Ftravel%2Fwellington%2Fpicton
Redirect 301 /m/insurance-ua/ https://ad.admitad.com/g/yk224wdch25fe19fcf916acf6f3f63/?ulp=https%3A%2F%2Finsurance.tickets.ua%2F

##################
# Browser cache expiry
##################
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg A2592000
ExpiresByType image/jpeg A2592000
ExpiresByType image/gif A2592000
ExpiresByType image/png A2592000
ExpiresByType text/css A86400
ExpiresByType text/html A86400
ExpiresByType application/pdf A86400
ExpiresByType text/x-javascript A86400
ExpiresByType image/x-icon A2592000
ExpiresDefault A86400
</IfModule>

##################
# Google Page Speed Module
##################
<IfModule pagespeed_module>
   ModPagespeed on
   ModPagespeedEnableFilters extend_cache, rewrite_images
</IfModule>
