div.container-fluid
    div.col-md-1
    div.copyright.col-md-12 &copy; 2014-#{year}
        &nbsp;marinatravelblog.com&nbsp;
        a(href="http://localhost:4000/privacy-policy/", target="_blank" rel="noindex,nofollow") Политика конфиденциальности
