div.container-fluid
    div.col-md-1
    div.copyright.col-md-3 &copy; 2014-#{year}
        a(href="http://marinatravelblog.com") marinatravelblog.com
        a(href="http://http://localhost:4000/privacy-policy/", target="_blank") Политика конфиденциальности
