div.container-fluid
    div.col-md-1
    div.copyright.col-md-3 &copy; 2014-#{year}
        a(href="http://marinatravelblog.com") marinatravelblog.com
    div.col-md-3#days-in-travel
        p
            i.fa.fa-map-o.fa-lg
            |  Дней в путешествии:&nbsp
            span#daysInTravel
            noscript
                | !{daysInTravel}