script(src='/js/responsive-img.js')
script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/bootstrap-dropdown/index.js')
script(src='/js/discuss.js')
script(src='/js/easyweb.js')
script(src='/js/counters.js')
script(src='/js/up-to-like.js')
