body {
    font-size: 16px;
}

h1 {
    font-size: 2em;
    margin-top: 2em;
}

h2 {
    font-size: 1.9em;
}

h3 {
    font-size: 1.7em;
}

.fa-chevron-right, .fa-chevron-left, .fa-chevron-up {
    margin: 0px 5px 0px 5px;
}

a.youtube {
    font-size: 1.3em;
}

.accent {
    font-size: 18px;
    font-weight: bold;
}

.widget-header {
    font-size: 16px;
}

.social-buttons .btn {
    font-size: 2.3vw;
}

.social-buttons .fa {
    font-size: 32px;
}

img {
    height: auto;
    max-width: 100%;
}

img {
}

.img-nav {
    margin-right: 3em;
}

.post .lazy-load img {
    display: inline;
    margin: 0;
    width: 100%;
}

.lazy-load {
    width: 100%;
}

.post img, .post div {
    display: block;
    margin: 1.5em 0 1.5em 0;
}

.lazy-load, .post img, .post div {
    display: block;
    margin: 1.5em 0 1.5em 0;
}

iframe.youtube {
    height: 30vw;
    margin-bottom: 0.5em;
}

a.youtube {
    font-style: italic;
    margin-bottom: 1.5em;
    display: block;
}

ol {
    list-style-type: none!important;
    counter-reset: item;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.2em;
}

ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

li ol > li {
    margin: 0;
}

li ol > li:before {
    content: counters(item, ".") " ";
}

ol.carousel-indicators {
    list-style-type: none;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
    ol.carousel-indicators {
        margin-bottom: 1em;
    }
}

ol.carousel-indicators > li {
    counter-increment: none;
}

ol.carousel-indicators > li:before {
    content: none!important;
    counter-increment: none;
    list-style-type: none;
}

.jump-thumbnail150 {
    width: 150px;
    height: auto;
}

.jump-thumbnail150 tr:nth-child(even) {
    float: left;
    margin: 15px 15px 15px 0;
}

.jump-thumbnail150 tr:nth-child(even) {
    float: right;
    margin: 15px 15px 15px 0;
}

.post div.lazy-load {
    margin: 10px 0 10px 0;
    height: 0;
}

.centered,
.widget > form {
    text-align: center;
}

.widget {
    padding: 10px;
    background-color: #EDF2F4;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

.widget-header {
    font-weight: bold;
    text-align: center;
}

ul.nav > li:hover {
    background-color: hsl(0, 0%, 75%);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.post-summary {
    margin-top: 35px;
}

.tag-cloud {
    line-height: 1em;
    text-align: center;
}

.tag-cloud a {
    display: inline-block;
    margin: 0.2em;
}

.related-posts .header {
    font-weight: bold;
    margin-top: 1em;
}

.related-posts .list {
    margin-top: 1em;
}

.related-posts .list > li {
    margin-top: 0.3em;
}

.social-buttons .btn {
    padding: 1px 1px;
    line-height: 1;
}

.btn-email-sidebar a:hover,
.social-buttons a:hover,
#paging:hover,
a:hover,
.social-buttons a:visited:hover {
    color: #337bae;
}

.social-buttons a:visited {
    color: #f25c00;
}

#paging > li > a,
a {
    color: #f25c00;
}

#paging > li > a > span {
    margin: 0 1em 0 1em;
}

#paging > li.active > a {
    color: white;
}

.navbar-default {
    background-color: #f25c00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: whitesmoke;
    color: #f25c00;
}

.navbar-default .navbar-nav > li > a {
    color: #EDF2F4;
}

.navbar-collapse.collapse {
    text-align: center;
}

.navbar-nav {
    display: inline-block;
    float: none;
}

.email-input-sidebar {
    width: 90%;
    margin: auto;
    alignment: center;
}

.btn-email-sidebar {
    background-color: #f25c00;
    font-size: 20px;
    width: 90%;
    margin-top: 10px;
}

.btn-default:hover {
    background-color: #337bae;
}

.btn-default {
    color: whitesmoke;
}

.copyright > a {
    margin-left: 0.5em;
}

#days-in-travel {
    text-align: right;
}

#mainMenu {
    border-top: none;
    border-left: none;
    border-right: none;
}

.post-info > .categories,
.post-info > .tags {
    margin: 7px 15px 7px 6px;
}

.post-info .fa {
    display: inline;
}

.post-info {
    word-break: keep-all;
}

.post-info * {
    margin-left: 8px;
}

#social-btns-bottom .ya-share2__icon,#social-btns-side .ya-share2__icon {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

#social-btns-bottom .ya-share2__counter,#social-btns-side .ya-share2__counter {
    padding-top: 13px;
}

#social-btns-side .ya-share2__item {
    margin-bottom: 14px;
}

#social-btns-side {
    width:40px;
    position: fixed ;
    bottom: 30%;
    left:10px;
}

cite {
    margin-top: 20px;
    margin-left: 40px;
}

.comments-type {
    margin: 20px 0 0 0 !important;
    padding: 20px 0 0 0;
    font-weight: bold;
    border-top: solid rgba(0,49,79,.3) ;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }

    .post-info > * {
        display: block;
    }

    #to-top-comment {
        display: none;
    }

    .social-buttons .fa {
        font-size: 28px;
    }

    .copyright,
    #days-in-travel {
        font-size: 0.8em;
        text-align: left;
        margin-top: 0.5em;
    }

    #uptolike_holder_bottom, #uptolike_holder_bottom div {
        margin-bottom: 0;
    }

    .post-info > .categories,
    .post-info > .tags {
        margin: 10px 6px 15px 6px;
    }

    .post-info * {
        margin-left: 15px;
    }

    .post-info a {
        display: inline-block;
        margin-bottom: 15px;
    }

    #social-btns-bottom .ya-share2__item {
        margin-right: 14px;
    }
}

.menu-mobile {
    font-size: 7px;
    line-height: 1;
    margin: 5px 0 -5px 0;
}

.post .carousel{
    margin: 0;
}

.post .carousel .carousel-inner {
    margin-top: -10px;
    margin-bottom: -10px;
}

.carousel .item{
    padding-bottom: 66%;
    height: 0;
}
.carousel .item img{
    margin: 0 auto;
    max-height: 100%;
    position: absolute;
    left: 0;
}

.carousel-control span {
    padding-top: 200%;
    font-size: 5em;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.subscribe-block {
    margin-top: 1em;
    margin-bottom: 2em;
}

.subscribe-link > .fa {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.subscribe-link > .pipe {
    margin-right: 0.5em;
    margin-left: 0.5em;
}