body {
    font-size: 16px;
}

h1 {
    font-size: 2em;
    margin-top: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

.fa-chevron-right, .fa-chevron-left, .fa-chevron-up {
    margin: 0px 5px 0px 5px;
}

a.youtube {
    font-size: 1.3em;
}

.accent {
    font-size: 18px;
    font-weight: bold;
}

.widget-header {
    font-size: 16px;
}

.social-buttons .btn {
    font-size: 2.3vw;
}

.social-buttons .fa {
    font-size: 32px;
}

img {
    /*max-height: 100%;*/
    height: auto;
    max-width: 100%;
}

img {
}

.img-nav {
    margin-right: 3em;
}

.post .lazy-load img {
    display: inline;
    margin: 0;
    width: 100%;
}

.lazy-load {
    width: 100%;
    max-width: 800px;
}

.post img, .post div {
    display: block;
    margin: 1.5em 0 1.5em 0;
}

.lazy-load, .post img, .post div {
    display: block;
    margin: 1.5em 0 1.5em 0;
}

iframe.youtube {
    height: 30vw;
    margin-bottom: 0.5em;
}

a.youtube {
    font-style: italic;
    margin-bottom: 1.5em;
    display: block;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.2em;
}

ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

li ol > li {
    margin: 0;
}

li ol > li:before {
    content: counters(item, ".") " ";
}

.jump-thumbnail150 {
    width: 150px;
    height: auto;
}

.jump-thumbnail150 tr:nth-child(even) {
    float: left;
    margin: 15px 15px 15px 0;
}

.jump-thumbnail150 tr:nth-child(even) {
    float: right;
    margin: 15px 15px 15px 0;
}

/*.jump-thumbnail150 + p {*/
/*clear: both;*/
/*}*/

.post div.lazy-load {
    margin: 10px 0 10px 0;
    height: 0;
}

.centered,
.widget > form {
    text-align: center;
}

.widget {
    padding: 10px;
    background-color: #EDF2F4;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

/*.sidebar .widget:first-of-type {*/
/*margin-top: 120px;*/
/*}*/

.widget-header {
    font-weight: bold;
    text-align: center;
}

ul.nav > li:hover {
    background-color: hsl(0, 0%, 75%);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.post-summary {
    margin-top: 35px;
}

.tag-cloud {
    line-height: 1em;
    text-align: center;
}

.tag-cloud a {
    /*word-wrap: break-word;*/
    display: inline-block;
    margin: 0.2em;
    /*float: left;*/
}

.related-posts .header {
    font-weight: bold;
    margin-top: 1em;
}

.related-posts .list {
    margin-top: 1em;
}

.related-posts .list > li {
    margin-top: 0.3em;
}

.social-buttons .btn {
    padding: 1px 1px;
    line-height: 1;
}

.btn-email-sidebar a:hover,
.social-buttons a:hover,
#paging:hover,
a:hover,
.social-buttons a:visited:hover {
    color: #337bae;
}

.social-buttons a:visited {
    color: #f25c00;
}

#paging > li > a,
a {
    color: #f25c00;
}

#paging > li > a > span {
    margin: 0 1em 0 1em;
}

#paging > li.active > a {
    color: white;
}

.navbar-default {
    background-color: #f25c00;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: whitesmoke;
    color: #f25c00;
}

.navbar-default .navbar-nav > li > a {
    color: #EDF2F4;
}

.navbar-collapse.collapse {
    text-align: center;
}

.navbar-nav {
    display: inline-block;
    float: none;
}

/*.navbar.affix {*/
/*opacity: 1;*/
/*}*/
/*.navbar.affix a {*/
/*opacity: 1;*/
/*}*/
/*.navbar.affix-top {*/
/*opacity: 1;*/
/*}*/

.email-input-sidebar {
    width: 90%;
    margin: auto;
    alignment: center;
}

.btn-email-sidebar {
    background-color: #f25c00;
    font-size: 20px;
    width: 90%;
    margin-top: 10px;
}

.btn-default:hover {
    background-color: #337bae;
}

.btn-default {
    color: whitesmoke;
}

/* a button for collapsing navbar */
#toggle-menu {
    /*width: 140px;*/
}

.copyright > a {
    margin-left: 0.5em;
}

#days-in-travel {
    text-align: right;
}

#banner,
#banner-noscript {
    width: 100%;
    padding-bottom: 15%;
    background-position: center;
    background-size: cover;
    margin-bottom: -0.5em;
}

#mainMenu {
    border-top: none;
    border-left: none;
    border-right: none;
}

.post-info > .categories,
.post-info > .tags {
    margin: 7px 15px 7px 6px;
}

.post-info .fa {
    display: inline;
}

.post-info {
    word-break: keep-all;
}

.post-info * {
    margin-left: 8px;
}

#banner-holder {
    background: url(http://localhost:4000/img/Valley-of-fire-banner.jpg)
}
@media only screen and (max-width: 600px) {
    #banner-holder {
        background: url(http://localhost:4000/img/Valley-of-fire-banner-md.jpg)
    }
}
@media only screen and (max-width: 350px) {
    #banner-holder {
        background: url(http://localhost:4000/img/Valley-of-fire-banner-sm.jpg)
    }
}
@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .post-info > * {
        display: block;
    }

    #to-top-comment {
        display: none;
    }

    .social-buttons .fa {
        font-size: 28px;
    }

    .copyright,
    #days-in-travel {
        font-size: 0.8em;
        text-align: left;
        margin-top: 0.5em;
    }

    #uptolike_holder_bottom, #uptolike_holder_bottom div {
        margin-bottom: 0;
    }

    .post-info > .categories,
    .post-info > .tags {
        margin: 10px 6px 15px 6px;
    }

    .post-info * {
        margin-left: 15px;
    }

    .post-info a {
        display: inline-block;
        margin-bottom: 15px;
    }
}

.menu-mobile {
    font-size: 7px;
    line-height: 1;
    margin: 5px 0 -5px 0;
}
