<!doctype html>
<html lang="en" ng-app="eswEditor">
<head>
    <meta charset="utf-8">

    <title>ESW Editor</title>

    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/editor.css">
    <link rel="stylesheet" href="css/travel-style.css">
    <!--<link rel="stylesheet" type="text/css" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">-->

    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="components/angular-ui-ace/ui-ace.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="js/main.js"></script>

    <script src="js/controllers/editOneFieldController.js"></script>
    <script src="js/controllers/topActionsController.js"></script>
    <script src="js/controllers/postListController.js"></script>
    <script src="js/controllers/previewController.js"></script>
    <script src="js/controllers/postEditorController.js"></script>
    <script src="js/controllers/imageController.js"></script>

    <script src="js/services/previewService.js"></script>
    <script src="js/services/postEditorService.js"></script>
    <script src="js/services/imageService.js"></script>
</head>
<body>
<!--<h1>ESW Editor</h1>-->
<div class="container-fluid" id="main">
    <div class="col-lg-12" id="top-buttons">
        <div class="form-group" ng-controller="TopPanelActionsController">
            <input id="commit-msg" ng-model="commitMessage" placeholder="Commit message...">
            <button class="btn-default btn" ng-click="commit()">Commit</button>
            <button class="btn-default btn" ng-click="update()">Update</button>
            <button class="btn-default btn" ng-click="revert()">Revert</button>
            <button class="btn-default btn" ng-click="newPost('post')">New Post</button>
            <button class="btn-default btn" ng-click="newPost('page')">New Page</button>
            <button class="btn-default btn" ng-click="publish()">Deploy</button>
        </div>
    </div>
    <div class="col-md-2" ng-controller="PostListController">
        <div ng-include="'views/editor-post-list.html'"></div>
    </div>
    <div class="col-md-5" ng-controller="PostEditorController">
        <uib-accordion close-others="false">
            <uib-accordion-group heading="Metadata" is-open="false">
                <div ng-include="'views/edit-metadata.html'"></div>
            </uib-accordion-group>
            <uib-accordion-group heading="Images" is-open="false">
                <div ng-include="'views/image-list.html'"></div>
            </uib-accordion-group>
            <uib-accordion-group heading="Markdown Editor" is-open="true">
                <div ng-include="'views/edit-post-content.html'"></div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
    <div class="col-md-5" ng-controller="PreviewController">
        <div id="post-preview">
            <div class="content"></div>
        </div>
        <!--<div id="post-preview-old">-->
            <!--<div class="content"></div>-->
        <!--</div>-->
    </div>
</div>

</body>
</html>
