include ./iterate-posts
    article.post-summary
        h1
            a(href=post.meta.link)=post.meta.title + (post.meta.draft ? '[DRAFT]' : '')
        div!=post.summary
        a(href=post.meta.link)!=post.more
        div.comments.hidden
            | Комментарии:
            span.disqus-comment-count(data-disqus-url=post.meta.link.replace('localhost:4000', 'marinatravelblog.com').replace('local.marinatravelblog.com:4000', 'marinatravelblog.com'))
footer
    include ./partials/paging
