p
  |Расписания и цены на билеты смотрите на&nbsp;
  a(href="http://marinatravelblog.com/12goasia/", target="_blank")
     |12go.asia
  |. Там же есть отзывы туристов и рейтинги перевозчиков.
p
p
  a.btn.btn-default.btn-airbnb(href='https://c44.travelpayouts.com/click?shmarker=89308&promo_id=1764&source_type=customlink&type=click&custom_url=https%3A%2F%2F12go.asia%2Fru%2Ftravel%2F'+from+'%2F'+to, target="_blank")
      | Купить билеты
