p
  |Расписания и цены на билеты смотрите на&nbsp;
  a(href="http://marinatravelblog.com/12goasia/", target="_blank")
     |12go.asia.
  |Там же есть отзывы туристов и рейтинги перевозчиков.
p
p
  a.btn.btn-default.btn-airbnb(href='https://12go.asia/ru/travel/'+from+'/'+to, target='blank')
      | Купить билеты
