p
    i
        | Если вы еще не регистрировались на Airbnb,&nbsp;
        a(href='http://marinatravelblog.com/airbnb-coupon/')
            | воспользуйтесь этой ссылкой и получите скидку до €35 на первое бронирование
        | :
a.btn.btn-default.btn-airbnb(href='http://marinatravelblog.com/airbnb-coupon/', target='blank')
    | Получить скидку