p
    i
        | Если вы еще не регистрировались на Airbnb,&nbsp;
        a(href='https://marinatravelblog.com/m/airbnb-coupon/', target='_blank' rel="nofollow")
            | воспользуйтесь этой ссылкой и получите скидку до 30$ на первое бронирование
        | :
a.btn.btn-default.btn-airbnb(href='https://marinatravelblog.com/m/airbnb-coupon/', target='_blank' rel="nofollow")
    | Получить скидку ➜
