p
  |Получите до €600 компенсации в случае: задержки или отмены рейса, отказа в посадке, пропущенной пересадки на европейские и турецкие рейсы.
p
  a(href="https://marinatravelblog.com/m/airhelp/", target="_blank" rel="nofollow")
    |AirHelp
  |&nbsp;возьмет на себя всю юридическую работу за комиссию. Не получилось - ничего не платите. Нужны только информация о рейсе и номер билета/бронирования. Срок давности рейса до 6 лет!
