p
  |Чтобы найти дешевые авиабилеты, я обычно сравниваю цены с помощью нескольких агрегаторов. У них всех один и тот же принцип - они ищут билеты по базам сотен авиакомпаний, но их базы могут отличаться, поэтому и цена будет лучше то в одном, то в другом.
p
  ul
    li
      a(href="https://marinatravelblog.com/m/kiwicom/", target="_blank" rel="nofollow")
        |kiwi.com
      |&nbsp;- здесь можно выбрать сразу несколько аэропортов вылета и прибытия, искать с диапазоном дат вылета/прилета и длины поездки, и сайт гарантирует стыковку, даже если вы летите лоукостами и первый рейс задержался.
    li
      a(href="https://marinatravelblog.com/m/ticketsua/", target="_blank" rel="nofollow")
        |tickets.ua
      |&nbsp;- здесь бывают хорошие цены на билеты из Украины.
    li
      a(href="https://marinatravelblog.com/m/aviasales/", target="_blank" rel="nofollow")
        |aviasales
      |&nbsp;- удобный календарь низких цен.
