p
    b
    |Календарь низких цен на авиабилеты:
p
    div.lazy-script-holder
      script(src='//tp.media/content?promo_id=4041&shmarker=89308&campaign_id=100&searchUrl=hydra.aviasales.ru&locale=ru&currency=eur&powered_by=false&one_way=false&only_direct=false&period=year&range=7%2C14&show_logo=false&primary=%230C73FE&achieve=%2345AD35&destination='+to+'&origin='+from+'' charset='utf-8')
