p
    b
    |Календарь низких цен на авиабилеты:
p
    div.lazy-script-holder
      script(charset='utf-8', src='//www.travelpayouts.com/calendar_widget/iframe.js?marker=89308.&origin='+from+'&destination='+to+'&currency=usd&searchUrl=hydra.aviasales.ru&one_way=false&only_direct=false&locale=ru&period=year&range=7%2C14&powered_by=true', async='')
