p
  a(href="http://marinatravelblog.com/blablacar/", target="_blank" rel="nofollow")
     |BlaBlaCar
  |&nbsp;- это сервис поиска попутчиков. Водитель берет пассажиров и делит с ними расходы на бензин.
p
  |Для пассажиров это отличная опция, если нет билетов. Или общественный транспорт в нужный город идет с пересадками, а здесь можно найти прямой переезд. Для водителя это возможность окупить поездку.
p
  a.btn.btn-default.btn-airbnb(href='http://marinatravelblog.com/blablacar/', target="_blank" rel="nofollow")
      | Найти попутчиков
