p
  | Оптимальный вариант - это сравнить цены и условия на разных агрегаторах, которые собирают предложения международных и местных прокатов. После разных удачных и неудачных экспериментов мы пользуемся этими сайтами:
p
  ul
    li
      a(href="http://marinatravelblog.com/economybooking/", target="_blank")
        | Economybookings
    li
      a(href="http://marinatravelblog.com/autoeurope/", target="_blank")
        | Autoeurope
