p
  | Мы обычно сравниваем цены и условия на сайтах-агрегаторах, которые собирают предложения разных прокатов, и выбираем самый выгодный вариант:
p
  ul
    li
      a(href="https://marinatravelblog.com/m/discovercarhire/", target="_blank" rel="nofollow")
        | DiscoverCarHire
    li
      a(href="https://marinatravelblog.com/m/economybooking/", target="_blank" rel="nofollow")
        | Economybookings
    li
      a(href="https://marinatravelblog.com/m/autoeurope/", target="_blank" rel="nofollow")
        | Autoeurope
