p
  |Получите до €600 компенсации в случае: задержки или отмены рейса, отказа в посадке, пропущенной пересадки на европейские и турецкие рейсы.
p
  a(href="http://marinatravelblog.com/compensair/", target="_blank")
    |Compensair
  |&nbsp;возьмет на себя всю юридическую работу за комиссию. Не получилось - ничего не платите. Нужны только информация о рейсе и номер билета/бронирования.
p
  |Срок давности рейса до 6 лет! Проверьте свой случай за 2 минуты с помощью виджета:
p
script(src='https://c86.travelpayouts.com/content?promo_id=2110&shmarker=89308&locale=ru&width=100%25&height=775&powered_by=false', charset='utf-8', async='')

div(style='margin-top: -130px')
