div(data-gyg-href='https://widget.getyourguide.com/default/activites.frame', data-gyg-locale-code='ru-RU', data-gyg-widget='activities', data-gyg-number-of-items='3', data-gyg-currency=ccy, data-gyg-see-more="true", data-gyg-partner-id='E8EKBEZ', data-gyg-q=dest)
