- padding = padding || /^p(.*)$/.exec(css)[1];
- file = 'http://local.marinatravelblog.com:4000/img/'+file;
.lazy-load(style='padding-bottom:'+padding+'%;')
    img(alt=alt, src=file+ext, srcset=file+ext+' 800w,'+file+'-md'+ext+' 570w,'+file+'-sm'+ext+' 330w')
