p
    | Кстати, KIWI дарят купоны 20 евро на авиабилеты новым пользователям, но их можно получить только по емейлу. Кому нужно - могу выслать приглашение.

a.btn.btn-default.btn-airbnb(href='https://marina758.typeform.com/to/rdKq9y', target='_blank' rel="nofollow")
    | Получить 20€ на kiwi.com ➜
