p
  |Вот график сезонов по месяцам - при клике на столбик, в новом окне откроется календарь низких цен на этот месяц, а также информация о климате.
.lazy-iframe-container
    iframe.kk.kk-climate.lazy-iframe(data-src="https://kudakogda.com/ru/widget/location?showClimate=true&country=" + country + "&locations=" + locations, width="100%")
