p
  |Вот график сезонов по месяцам: если кликнуть на столбик, то в новом окне откроется календарь низких цен на этот месяц. Нижний график показывает погоду по месяцам.
.lazy-iframe-container
    iframe.kk.kk-climate.lazy-iframe(data-src="https://kudakogda.com/ru/widget/location?showClimate=true&country=" + country + "&locations=" + locations, width="100%")
