p
  |Это график сезонов по месяцам, при клике на столбик в новом окне откроется календарь низких цен на этот месяц.
.lazy-iframe-container
    iframe.kk.lazy-iframe(data-src="http://localhost:3010/ru/widget/location?country=" + country + "&locations=" + locations, width="100%")
