div(style='background-color:#ecf8f2;')
  p
    | Чтобы узнать, когда куда поехать, пользуйтесь
    a(href='kudakogda.com') KudaKogda
    |  - этот сервис показывает одновременно и лучший сезон, и цену с длительностью перелета.
  p
    | Например, куда отправиться в сентябре в США из Киева?
  div
    img(src='kudakogda_widget.jpg' alt='kudakogda.com')
  p
    | Поиск очень гибкий: можно выбирать город, страну, континент или весь мир, даты точные или диапазон, или на весь месяц. Есть фильтры по сезонам и климату, перелетам, активностям (пляжи, лыжи и т.п.), календарь низких цен.
  p
    | Можно создавать запросы типа "куда поехать на море в октябре, чтобы была температура воды 20+ градусов, ясная погода и лететь без пересадок не дольше 5 часов" - сайт подберет лучшие варианты для отдыха.
