div.lazy-script-holder
    script(src='https://c91.travelpayouts.com/content?promo_id=2405&shmarker=89308&destination='+dest_id+'&size=responsive&locale=ru&currency=EUR&powered_by=false', charset='utf-8', async='')
