a(target='blank', href='https://c91.travelpayouts.com/click?shmarker=89308&promo_id=2994&source_type=banner&type=click')
  img(src='https://c91.travelpayouts.com/content?promo_id=2994&shmarker=89308&type=init', alt='480x320', width='480', height='320')
