p
  | Расписание перелетов:
p
  script(src='//tp.media/content?promo_id=2811&shmarker=89308&campaign_id=100&locale=ru&target_host=hydra.aviasales.ru&origin='+from+'&destination='+to+'&border_radius=0&min_lines=3&powered_by=false', charset='utf-8')
