p
  |Есть чудесные онлайн супермаркеты туров, где можно купить путевку в интернете без визита в турагентство. Там продают и обычные, и горящие туры, которые собирают по всем туроператорам страны - сразу все варианты в одном месте.
p
  |Выбираешь все онлайн самостоятельно, без давления со стороны турагента, платишь карточкой в интернете (а не бегаешь по городу с большими суммами наличных), получаешь все брони на емейл, распечатываешь документы и едешь. Экономия времени огромная.
p
  |Мы так ездили уже несколько раз - очень удобно, и цены были ниже, чем у обычного турагента.
p
    li
      a(href="https://marinatravelblog.com/m/tui/", target="_blank" rel="nofollow")
        | TUI (Fun & Sun)
      |&nbsp;- супермаркет для тревела: туры с вылетами из Украины и России, страховка, круизы, отели, трансферы, аренда яхт, впечатления, программа лояльности.
