p
  |Есть чудесные онлайн супермаркеты туров, где можно купить путевку в интернете без визита в турагентство. Там продают и обычные, и горящие туры, которые собирают по всем туроператорам страны - сразу все варианты в одном месте.
p
  |Выбираешь все онлайн самостоятельно, без давления со стороны турагента, платишь карточкой в интернете (а не бегаешь по городу с большими суммами наличных), получаешь все брони на емейл, распечатываешь документы и едешь. Экономия времени огромная.
p
  |Мы так ездили уже несколько раз - очень удобно, и цены были ниже, чем у обычного турагента.
p
  ul
    li
      a(href="https://marinatravelblog.com/m/mistotravel/", target="_blank" rel="nofollow")
        | MistoTravel
      |&nbsp;- вылеты из аэропортов Украины. 5% от суммы тура идут на бонусный счет на следующие покупки.
    li
      a(href="https://marinatravelblog.com/m/tui/", target="_blank" rel="nofollow")
        | TUI (Fun & Sun)
      |&nbsp;- супермаркет для тревела: туры с вылетами из Украины и России, страховка, круизы, отели, трансферы, аренда яхт, впечатления, программа лояльности.
    li
      a(href="https://marinatravelblog.com/m/onlinetours/", target="_blank" rel="nofollow")
        | OnlineTours
      |&nbsp;- миллионы туров в 80 стран + санатории и базы отдыха по всей России. Вылеты из РФ и Казахстана. Программа лояльности. Помощь с визой.
    li
      a(href="https://marinatravelblog.com/m/leveltravel/", target="_blank" rel="nofollow")
        | LevelTravel
      |&nbsp;- пляжные, экскурсионные, лыжные туры. Вылеты из десятков городов России. Есть программа лояльности и рассрочка.
    li
      a(href="https://marinatravelblog.com/m/travelata/", target="_blank" rel="nofollow")
        | Travelata
      |&nbsp;- авиатуры от 120 туроператоров. Вылеты из десятков городов России.
    li
      a(href="https://marinatravelblog.com/m/teztour/", target="_blank" rel="nofollow")
        | Teztour
      |&nbsp;- один из крупнейших туроператоров: авиатуры из множества городов Украины, России, Беларуси, Казахстана, Кыргызстана, Молдовы, Эстонии, Латвии, Литвы. Трнасферы, отели, экскурсии, аренда авто.
