p
  |Есть чудесные онлайн супермаркеты туров, где можно купить путевку в интернете без визита в турагентство. Там есть и обычные, и горящие туры.
p
  ul
    li
      a(href="http://marinatravelblog.com/mistotravel/", target="_blank" rel="nofollow")
        | Misto.Travel
      |&nbsp;- вылеты из 10 городов Украины + автобусные туры по Европе.
    li
      a(href="http://marinatravelblog.com/onlinetours/", target="_blank" rel="nofollow")
        | Onlinetours
      |&nbsp;- путевки из России и Казахстана.
    li
      a(href="http://marinatravelblog.com/travelata/", target="_blank" rel="nofollow")
        | Travelata
      |&nbsp;- авиатуры из десятков городов России.
