p
  |Мы обычно покупаем билеты на поезда и автобусы по Европе заранее на одном из международных сайтов:
p
  ul
    li
      a(href="https://marinatravelblog.com/m/trainline/", target="_blank" rel="nofollow")
        | Trainline
      |&nbsp;- здесь собраны 209 железнодорожных и автобусных компаний в 45 странах, легко сравнить цены и время в пути и решить, на чем ехать.
    li
      a(href="https://marinatravelblog.com/m/raileurope/", target="_blank" rel="nofollow")
        | Raileurope
      |&nbsp;- здесь только поезда, но огромное покрытие: 28 стран и 15 000 городов в Европе.
    li
      a(href="https://marinatravelblog.com/m/omio/", target="_blank" rel="nofollow")
        | Omio
      |&nbsp;- этот сайт сравнивает сразу поезда, автобусы и перелеты. Бывает, что долететь выходит дешевле и быстрее :)
