script(src='//www.worldnomads.com/Partner/GetPartnerWidget?partnerCode=M4RYNA&Source=post-widget&loadWithPanelExpanded=true&cultureKey=en&cssVariant=landscape', async='')
#wn-insurance-quote-editor(style='width:100%;background:url(https:\/\/cdn.worldnomads.net\/Content\/styles\/i\/wn\/external-widgets\/widget-bg-red.jpg);')
