body {
    font-size: 14px;
}

label {
    font-weight: normal;
}

.ace_editor {
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    font-size: 20px;
}

.post-list .list-group-item {
    padding: 5px;
}

#images .image-list, #console {
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
}

#main {
    height: 75vh;
}

/*#main > * {*/
    /*height: 100%;*/
/*}*/

.post-list {
    overflow-y: scroll;
    height: 45vh;
    font-size: 12px;
}

#metadata {
    width: 100%;
}

#metadata label, #metadata input {
    width: 100%;
}

#metadata textarea {
    width: 100%;
    height: 15vh;
}

#link-add-holder .dropdown-menu .dropdown-item {
    height: 10px;
}

/*#link-add-holder .dropdown-menu {*/
    /*position: static;*/
    /*float: none;*/
    /*display: block;*/
    /*min-width: 160px;*/
    /*background-color: transparent;*/
    /*border: none;*/
    /*border-radius: 0;*/
    /*box-shadow: none;*/
/*}*/

#post-preview, #post-preview-old, #post-preview-new {
    width: calc(1/0.85*40vw);
    height: calc(1/0.85*100vh);
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top:0;
    zoom: 85%;
    background-color: white;
}

#post-preview .lazy-load {
    height: 0 !important;
}

#top-buttons {
    margin-top: 5px;
}
#top-buttons .btn-default {
    color: black;
}

.modal-body input {
    width: 80%;
}