body {
    font-size: 14px;
}

label {
    font-weight: normal;
}

.ace_editor {
    width: 100%;
    height: 75vh;
    overflow-y: scroll;
    font-size: 20px;
}

#images .image-list, #console {
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
}

#main {
    height: 75vh;
}

#main > * {
    height: 100%;
}

.post-list {
    overflow-y: scroll;
    height: 50vh;
    font-size: 12px;
}

#metadata {
    width: 100%;
}

#metadata label, #metadata input {
    width: 100%;
}

#metadata textarea {
    width: 100%;
    height: 15vh;
}

#link-add-holder .dropdown-menu .dropdown-item {
    height: 10px;
}

/*#link-add-holder .dropdown-menu {*/
    /*position: static;*/
    /*float: none;*/
    /*display: block;*/
    /*min-width: 160px;*/
    /*background-color: transparent;*/
    /*border: none;*/
    /*border-radius: 0;*/
    /*box-shadow: none;*/
/*}*/