<div class="row widget">
    <p class="widget-header">Давай дружить!</p>
    <p class="social-teaser">Следи за нашими новыми приключениями в разных уголках мира: подпишись на обновления :)</p>
    <div class="social-buttons">
        <div>
            <a class="btn btn-social-icon btn-telegram"
               href="https://t.me/marinatravelblog"
               target="_blank" rel="nofollow">
                <span class="fa fa-telegram"></span>
            </a>
            <a class="btn btn-social-icon btn-facebook"
               href="https://facebook.com/marinatravelblog"
               target="_blank" rel="nofollow">
                <span class="fa fa-facebook-square"></span>
            </a>
            <a class="btn btn-social-icon btn-vk"
               href="https://vk.com/marinatravelblog" target="_blank">
                <span class="fa fa-vk-square"></span>
            </a>
            <a class="btn btn-social-icon btn-youtube"
               href="https://www.youtube.com/c/marinatravelblog?sub_confirmation=1"
               target="_blank" rel="nofollow">
                <span class="fa fa-youtube-square"></span>
            </a>
            <a class="btn btn-social-icon btn-rss"
               href="http://marinatravelblog.com/feed.xml" target="_blank">
                <span class="fa fa-rss-square"></span>
            </a>
        </div>
    </div>
</div>
