<div class="row widget">
    <p class="widget-header">Давай дружить!</p>
    <p>Следи за нашими новыми приключениями в разных уголках мира: подпишись на обновления :)</p>
    <div class="social-buttons">
        <a class="btn btn-social-icon btn-facebook"
           href="https://facebook.com/marinatravelblog"
           target="_blank" rel="nofollow">
            <span class="fa fa-facebook-square"></span>
        </a>
        <a class="btn btn-social-icon btn-vk"
           href="http://vk.com/marinatravelblog"
           target="_blank" rel="nofollow">
            <span class="fa fa-vk"></span>
        </a>
        <a class="btn btn-social-icon btn-youtube"
           href="https://www.youtube.com/c/marinatravelblog?sub_confirmation=1"
           target="_blank" rel="nofollow">
            <span class="fa fa-youtube-square"></span>
        </a>
        <a class="btn btn-social-icon btn-twitter"
           href="http://twitter.com/marinatravelblg"
           target="_blank" rel="nofollow">
            <span class="fa fa-twitter-square"></span>
        </a>
        <a class="btn btn-social-icon btn-google-plus"
           href="https://plus.google.com/+Marinatravelblog/posts/"
           target="_blank" rel="nofollow">
            <span class="fa fa-google-plus-square"></span>
        </a>
        <a class="btn btn-social-icon btn-instagram"
           href="https://instagram.com/sergii_ladniuk/"
           target="_blank" rel="nofollow">
            <span class="fa fa-instagram"></span>
        </a>
        <a class="btn btn-social-icon btn-rss"
           href="http://marinatravelblog.com/feed.xml" target="_blank">
            <span class="fa fa-rss-square"></span>
        </a>
    </div>
</div>