.row.widget
    h4.centered Давай дружить!
    | Если тебе интересно узнать про наши новые приключения в разных уголках мира, про походы и дайвинг, и как
    | путешествовать самостоятельно и недорого, подпишись на обновления через соцсети, емейл или RSS :) Мы не спамим и
    | не копируем у других, а щедро делимся личным опытом!