<div class="row widget">
    <form
            action="https://feedburner.google.com/fb/a/mailverify"
            method="post" target="popupwindow"
            onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=marinatravelblogcom', 'popupwindow', 'scrollbars=yes,width=350,height=200');return true">
        <p class="accent">Подпишись и получай новые статьи блога по e-mail :)

        <p></p>
        <input type="text" style="width: 150px; height: 45px;" name="email"/> 
        <input type="hidden"
               value="marinatravelblogcom"
               name="uri"/>
        <input type="hidden"
               name="loc"
               value="ru_RU"/>
        <input type="submit" class="btn" value="ХОЧУ!"/> </p>
        <p>Никакого спама, только личный опыт!</p></form>
</div>