div.navbar.navbar-default
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href="/#/")="marinatravelblog:"
        div.navbar-collapse.collapse
            ul.nav.navbar-nav
                each itemName in menuRootOrder
                    - var item = menu[itemName]
                    if item.children
                        li.dropdown
                            a.dropdown-toggle.disabled(data-toggle="dropdown", href=item.url)= item.name
                                span.caret
                            ul.dropdown-menu
                                each child in item.children
                                    if child.page || child.postNumber
                                        li
                                            a(href=child.url)= child.name
                    else
                        if item.page || item.postNumber
                            li
                                a(href=item.url)= item.name
